.create-e-note-form {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	width: 20rem;
}

.create-e-note-title-box {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
