.create-e-note-form {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	width: 20rem;
}

@media screen and (max-width: 24rem) {
	.create-e-note-form {
		width: 100%;
	}
}

.create-e-note-title-box {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.create-e-note-title-box > div {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
